<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduVault - @ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo">EduVault</div>
        <div class="user-info" style="font-size:150%; font-weight: 500;">
            @if (@ViewData["Title"]?.ToString() == "Справочник")
            {
                <span>Список файлов</span>
            }
            @if (@ViewData["Title"]?.ToString() == "Карточка документа")
            {
                <span>
                    Карточка файла: <span style="font-size:80%; font-weight: 200;">Проверка отчётов студентов на соответствие требованиям</span>
                </span>
            }
        </div>
        <div class="user-info">
            @if (@ViewData["Title"]?.ToString() != "Авторизация")
            {
                <span>Иван Петров</span>
            }
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
